<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package 
		Name="SampleApp Setup"
		Language="1033" 
		Version="1.0.0.0"
		Manufacturer="SwinburneStudent"
		UpgradeCode="53798BF9-C5E2-4F1D-8C73-90C7B4B2DC86"
		InstallerVersion="200"
		Compressed="yes"
		Scope="perMachine">
		
		<MediaTemplate EmbedCab="yes" />
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="INSTALLFOLDER" Name="SampleApp">
				<Component Id="MainExecutable">
					<File Id="SampleAppEXE" Source="$(var.SampleApp.TargetPath)" />
				</Component>
			</Directory>
		</StandardDirectory> 
		<Feature Id="ProductFeature" Title="SampleAppSetup" Level="1">
			<ComponentRef Id="MainExecutable" />
		</Feature>
	</Package>
</Wix>
